.footer {
    background-color: $veryDarkBlue;
    color: $white;
    padding-top: rem(63);
    padding-bottom: rem(45);
    font-size: rem(16);

    @include breakpoint-up(medium) {
        padding-top: rem(92);
        padding-bottom: 1rem;
    }

    &__logo {
        display: block;
        margin-bottom: rem(43);

        @include breakpoint-up(medium) {
            margin-bottom: rem(39);
        }
    }

    &__grid {

        @include breakpoint-up(medium) {
            display: grid;
            grid-template-columns: 3fr repeat(3, 2fr);
            grid-template-rows: 1fr;
        }

        .footer__contact-info {
            padding-bottom: rem(25);

            div {
                margin-bottom: rem(21);

                img {
                    margin-right: rem(20);
                    width: rem(20);
                    height: rem(20);
                }
            }
        }

        .footer__links1,
        .footer__links2 {
            padding-bottom: rem(25);

            a {
                display: block;
                color: $white;
                margin-bottom: rem(25);
                transition: color 150ms ease-in-out;

                &:hover {
                    color: $brightBLue;
                }
            }
        }


        .footer__social {
            margin-bottom: rem(25);
            
            @include breakpoint-up(medium) {
                margin-bottom: 0;
                justify-self: flex-start;
            }
            a {
                width: rem(30);
                height: rem(30);
                position: relative;
                border: 1px solid $white;
                border-radius: 18px;
                color: $white;
                padding: 17px;
                transition: all 150ms ease-in-out;
                
                &:not(last-child) {
                    margin-right: rem(15);
                }

                &:hover {
                    border-color: $brightBLue;
                }

                svg {
                    width: rem(20);
                    height: rem(20);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                svg path {
                    fill: $white;
                    transition: all 150ms ease-in-out;
                }

                &:hover {
                    svg path {
                        fill: $brightBLue;
                    }
                }
            }
        }

    }
}