.footer {
    background-color: $veryDarkBlue;
    color: $white;
    padding-top: rem(63);
    padding-bottom: rem(45);
    font-size: rem(16);

    &__logo {
        display: block;
        margin-bottom: rem(43);
    }

    &__contact-info {
        padding-bottom: rem(25);

        div {
            margin-bottom: rem(21);

            img {
                margin-right: rem(20);
                width: rem(20);
                height: rem(20);
            }
        }
    }

    &__links1,
    &__links2 {
        padding-bottom: rem(25);

        a {
            display: block;
            color: $white;
            margin-bottom: rem(25);
        }
    }


    &__social {
        margin-bottom: rem(25);
        
        a {

            :not(last-child){
                margin-right: rem(15);
            }

            svg {
                width: rem(20);
                height: rem(20);
            }
    
            svg path {
                fill: $white;
                // transition: fill 150ms ease-in-out;
            }
        //     &:hover svg path {
        //         fill: $brightBLue;
        //     }
        // }
    }

    }
}