html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $ff-open-sans;
    font-size: rem(17);

    &.noscroll {
        overflow: hidden;
    }

}

img {
    margin: 0;
    vertical-align: middle;
}

picture {
    margin: 0;
}

p {
    margin: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
}

h1 {
    margin: 0;
}

// Flexbox
.flex {
    display: flex;  
      
      &-jc-sb {
          justify-content: space-between;
      }
  
      &-jc-c {
          justify-content: center;
      }
  
      &-ai-c {
          align-items: center;
      }
      &-d-c {
        flex-direction: column;
      }
      &-d-r {
        flex-direction: row;
      }
  }

.hide-for-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.img-responsive {
    max-width: 100%;
    height: auto;
     
}