html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $ff-open-sans;
    font-size: rem(17);

    &.noscroll {
        overflow: hidden;
    }

}

img {
    margin: 0;
    vertical-align: middle;
}

picture {
    margin: 0;
}

p {
    margin: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $ff-raleway;
}

input:focus {
    outline: none;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-d-c {
        flex-direction: column;
    }

    &-d-r {
        flex-direction: row;
    }
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.img-responsive {
    max-width: 100%;
    height: auto;

}

.get-started {
    display: flex;
    flex-direction: column;
    gap: rem(2);

    @include breakpoint-up(medium) {
        flex-direction: row;
        gap: rem(5);
    }

    &__email {
        padding-left: rem(20);
        border: 1px solid $desaturatedBlue;
        border-radius: 2px;
        height: rem(45);
        box-shadow: 0px 0px 2px 1px hsl(0deg 0% 80%);
        
        @include breakpoint-up(medium) {
            width: 60%;
        }
        &::placeholder {
            color: $lightGray;
            font-family: $ff-raleway;
        }

        &:focus {}

        &:valid {
            border: 2px solid green;
        }
    }

    &__cta {
        position: relative;
        background-color: $brightBLue;
        border: none;
        border-radius: 3px;
        color: $lightGrayishBlue;
        font-size: rem(13);
        font-family: $ff-raleway;
        height: rem(45);
        font-weight: 700;
        transition: opacity 150ms ease-in-out;
        box-shadow: 7px 5px 5px -2px hsl(0deg 0% 90%);

        @include breakpoint-up(medium) {
            font-weight: 400;
            font-size: rem(12);
            width: 40%;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.25);
            opacity: 0;
            transition: opacity 150ms ease-in-out;
        }

        &:hover::before {
            opacity: 1;
        }




    }

}

.attribution {
    font-size: rem(11);
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}