.header {
    padding-top: rem(37);
    padding-bottom: rem(37);

    @include breakpoint-up(large) {
        padding-top: rem(54);
        padding-bottom: rem(54);
    }

    &__nav {
        a {
            color: $black;
            font-family: $ff-raleway;

            &:not(:last-child) {
                margin-right: rem(37);

                @include breakpoint-up(medium) {
                    margin-right: rem(46);
                }
                
            }
        }
    }

    &__logo {

    }

}