.header {
    padding-top: 37px;
    padding-bottom: 37px;

    @include breakpoint-up(large) {
        padding-top: 54px;
        padding-bottom: 54px;
    }

    &__nav {
        a {
            color: $black;
            font-family: $ff-raleway;

            &:not(:last-child) {
                margin-right: rem(37);

                @include breakpoint-up(medium) {
                    margin-right: rem(46);
                }
                
            }
        }
    }

    &__logo {

    }

}