.section1 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-bottom: 4rem;

    @include breakpoint-up(medium) {
        flex-direction: row;
        gap: 2rem;
    }

    &__content {
        text-align: center;

        @include breakpoint-up(medium) {
            text-align: left;
        }

        h1 {
            font-weight: 700;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 30px;
        }
    }

    &__picture {
    }
}

.get-started {

    &__grid {
        display: flex;
        flex-direction: column;
        gap: rem(2);

        @include breakpoint-up(medium) {
            flex-direction: row;
            gap: rem(5);
        }

        input {
            padding-left: rem(20);
            border: 1px solid $desaturatedBlue;
            border-radius: 2px;
            height: 40px;
            flex-grow: 3;

            &::placeholder {
                color: $lightGray;
                font-family: $ff-raleway;
            }
    
            &:focus {
                border: 2px solid $desaturatedBlue;
            }
    
            &:valid {
                border: 2px solid green;
            }
        }

        .cta {
            flex-grow: 2;
            background-color: $veryDarkBlue;
            border: none;
            border-radius: 3px;
            color: $lightGrayishBlue;
            font-size: 13px;
            font-family: $ff-raleway;
            height: 40px;
            font-weight: 700;
            transition: opacity 150ms ease-in-out;
        
            &:hover {
                opacity: 0.7;
            }

            @include breakpoint-up(medium) {
                font-weight: 400;
                font-size: 12px;
            }
    
        }
    }

}

.section2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;

    @include breakpoint-up(medium) {
        flex-direction: row;
        gap: 2rem;
    }

    h2 {
        margin-bottom: 30px;
    }

    a {
        text-decoration: underline;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include breakpoint-up(medium) {
            display: block;
            
        }

    }
}

.testimonial {
    border-radius: 4px;
    box-shadow: 0px 1px 6px 3px hsl(0deg 0% 75%);
    padding: 20px;
    font-size: 13px;    
    width: 350px;

    &__profile {
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }

    &__wrapper2 {
        h4 {
            font-size: 12px;
            font-weight: 300;
        }        

        span {
            font-size: 11px;

        }
    }
}

.section3 {
    background-color: $desaturatedBlue;
    color: $lightGrayishBlue;
    text-align: center;

    &__wrapper {
        height: rem(317);
        align-items: center;
        gap: 2rem;
        flex-direction: column;

        @include breakpoint-up(medium) {
            flex-direction: row;
            text-align: left;
        }

        .get-started {

            &__grid {
                flex-direction: column;
                align-items: stretch;

                @include breakpoint-up(medium) {
                    align-items: flex-start;
                    // gap: 1rem;
                }
            }
        } 
    }

}