.section2 {
    background-color: #F8F8FE;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 114px;
        display: block;
        background-image: url('/images/bg-curve-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        bottom: 100%;
    }

    @include breakpoint-up(medium) {

    }

    .container {}

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;


        @include breakpoint-up(medium) {
            flex-direction: row;
            gap: 2rem;
        }

    }

    &__left {
        h2 {
            margin-bottom: 30px;
            text-align: center;

            @include breakpoint-up(medium) {
                text-align: left;
            }
        }

        p {}

        a.section2__link {
            text-decoration: underline;
            color: $moderateCyan;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint-up(medium) {
                display: block;

            }

            .testimonial {
                border-radius: 4px;
                box-shadow: 0px 1px 6px 3px hsl(0deg 0% 75%);
                padding: 20px;
                font-size: 13px;
                width: 350px;
                background-color: $white;

                &__profile {
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                }

                &__wrapper2 {
                    h4 {
                        font-size: 12px;
                        font-weight: 300;
                    }

                    span {
                        font-size: 11px;

                    }
                }
            }

        }
    }

    &__right {}

}