.section2 {
    background-color: #F8F8FE;
    position: relative;
    padding-top: rem(50);
    padding-bottom: rem(100);

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: rem(114);
        display: block;
        background-image: url('/images/bg-curve-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        bottom: 100%;
    }

    @include breakpoint-up(medium) {
        padding-top: rem(100);
    }

    .container {}

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;

        @include breakpoint-up(medium) {
            flex-direction: row;
            gap: 2rem;
        }

    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint-up(medium) {
            align-items: flex-start;
        }
        h2 {
            margin-bottom: rem(30);
            text-align: center;
            font-weight: 700;
            
            @include breakpoint-up(medium) {
                text-align: left;
            }
        }

        p {
            margin-bottom: rem(20);
        }

        .section2__link {
            text-decoration: underline;
            color: $moderateCyan;
            margin-bottom: rem(30);
        }

        @include breakpoint-up(medium) {
            // display: block;

        }

        .testimonial {
            border-radius: 4px;
            box-shadow: 0px 1px 6px 3px hsl(0deg 0% 75%);
            padding: rem(20);
            font-size: rem(13);
            width: rem(350);
            background-color: $white;

            &__text {
                margin-bottom: rem(10);
            }
            &__profile {
                border-radius: 50%;
                height: rem(60);
                width: rem(60);
                margin-right: rem(10);
            }

            &__wrapper2 {
                h4 {
                    font-size: rem(12);
                    font-weight: 700;
                }

                span {
                    font-size: rem(11);

                }
            }
        }

    }

    &__right {}

}