.section1 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-bottom: rem(100);
    padding-top: rem(100);
    padding-bottom: rem(100);

    @include breakpoint-up(medium) {
        flex-direction: row;
        gap: 2rem;
    }

    &__content {
        text-align: center;

        @include breakpoint-up(medium) {
            text-align: left;
        }

        h1 {
            font-weight: 700;
            margin-bottom: rem(30);
        }

        p {
            margin-bottom: rem(30);
        }

    }

    &__picture {}
}

